<div class="aboutus-shadow">
  <div class="container pt-4">
    <div class="text-center col-12">
      <h1><b>O Nas</b></h1>
      <hr />
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-2 card company-card text-center">
          <div class="card-header">
            <h3><b>Czym jest FPK?</b></h3>
          </div>
          <div class="card-body">
            <b>FPK Firmy Północy Krakowa </b>- to aplikacja napisana pod wpływem
            ostatnich wydarzeń globalnych, geopolitycznych, makro i
            mikroekonomicznych które z dużą siła oddziaływują na nasze lokalne
            społeczności. <b>FPK</b> ma być pomocą dla przedsiębiorców ale i
            każdego kto chciałby wesprzeć lokalnych przedsiebiorców, nierzadko
            swoich sąsiadów, bliższych lub dalszych. <br />
            Rejestrować się w aplikacji mogą wszyscy przedsiebiorcy (nie ważne
            czy posiadają już własne strony www czy reklamują się w innych
            serwisach) jedynym warunkiem jest wpis do CEIDG a firma
            zarejestrowana jest na terenie jednej z gmin:
            <ul>
              <li *ngFor="let item of municipalitieList">
                <b> {{ item }} </b>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12 mb-2 card company-card text-center">
          <div class="card-header">
            <h3><b>Kim jesteśmy?</b></h3>
          </div>
          <div class="card-body">
            Jesteśmy dwoma kolegami z pracy, którzy postanowili skorzystać ze
            swoich umiejętności i stworzyć coś praktycznego dla każdego. Jeden z
            nas to developer aplikacji Webowych, drugi bawi się programowaniem
            od jakiegoś czasu ale nie jest zawodowcem ;). Prywatnie jesteśmy
            ojcami, mężami, synami z mnóstwem obowiązków, którym musi sprostać
            każdy normalny człowiek. Nie przeszkadza nam to jednak w poświęcaniu
            czasu swojej pasji, którą jest programowanie aplikacji webowych. W
            każdej wolnej chwili siadamy do komputerów i dopisujemy kolejne
            elementy naszej układanki, którą jest aplikacja z której właśnie
            korzystasz.
          </div>
        </div>

        <div class="col-12 mb-2 card company-card text-center">
          <div class="card-header">
            <h3><b>Dlaczego powstała ta aplikacja? </b></h3>
          </div>
          <div class="card-body">
            Aplikacja ta jest odpowiedzią na pytania mieszkańców jednej z
            podkrakowskich gmin. Podczas pierwszej fali pandemi COVID w czasie
            lockdown'u na jednym z forum często padały pytania czy można
            stworzyć listę miejscowych firm tak żeby można było wspierać
            lokalnych przedsiębiorców. W pierwszym momencie powstała prosta
            strona internetowa, którą administrator musiał uzupełniać ręcznie
            bez możliwości wpisywania danych przez samych przedsiębiorców. Nie
            było to dobre rozwiązanie. Pomysł na aplikcję pojawił sie bardzo
            szybko i szybko też zaczęliśmy ją pisać. Zapytacie dlaczego powstała
            dopiero teraz? Odpowiemy szybciutko: Pisaliśmy tą aplikację od zera,
            wszystko co widzicie na tej stronie i wszytko co na niej działa ale
            tego nie widzicie to nasze dzieło. Co chwilę pojawiały się nowe
            pomysły: "To może zróbmy tak żeby użytkownik mógł ściągnąć swoje
            dane z CEIDG?" "Dodajmy jeszcze możliwość wpisania usług lub menu"
            "Pisać formularz kontaktowy do nas?" "Dodajmy możliwość załączenia
            logo?" To oczywiście tylko kilka pytań. Tych nie zrealizowanych
            jeszcze nie wpisujemy bo internet tego nie zniesie tyle ich było.
          </div>
        </div>
        <div class="col-12 mb-2 card company-card text-center">
          <div class="card-header">
            <h3><b>Czy można coś jeszcze dodać do aplikacji?</b></h3>
          </div>
          <div class="card-body">
            Oczywiście, że można!!! Ta aplikacja ma pomagać w promocji naszych
            lokalnych firm. Ma działać tak żeby potencjalni klienci mogli łatwo
            znaleźć firmę, której szukają i dowiedzieć się o niej jak najwięcej.
            Jeżeli macie jakieś pomysły, uważacie, że czegoś brakuje, napiszcie
            do nas. Zastanowimy się czy się da i dopiszemy to czego brakuje.
          </div>
        </div>

        <div class="col-12 mb-2 card company-card text-center">
          <div class="card-header">
            <h3>
              <b
                >Potrzebuje aplikacji dla siebie. Czy napiszecie ją dla mnie?</b
              >
            </h3>
          </div>
          <div class="card-body">
            Oczywiście!!! Napisz do nas czego potrzebujesz, a my się z Tobą
            skontaktujemy ustalimy co potrzebujesz, zrobimy wycenę i będziemy
            tak długo pisać kod, aż spełnimy Twoje oczekiwania.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
