# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vs/FirmyMichalowice/config/applicationhost.config
/.vs/FirmyMichalowice/v16/.suo
/FirmyMichalowice/appsettings.json
/FirmyMichalowice/bin/Debug/netcoreapp3.1/appsettings.json
/FirmyMichalowiceSPA/node_modules/
/FirmyMichalowice/bin/Debug/
/.vs
/node_modules
/package-lock.json
/FirmyMichalowice/appsettings.json
/FirmyMichalowice/obj/Debug/netcoreapp3.1/FirmyMichalowice.csproj.AssemblyReference.cache
/FirmyMichalowice/bin/Debug/netcoreapp3.1/appsettings.json
/FirmyMichalowice/appsettings.json
/.vs/FirmyMichalowice/v16/.suo
/FirmyMichalowice/obj/Debug/*
/FirmyMichalowice/bin/Debug/*
/FirmyMichalowice/appsettings.json
/FirmyMichalowice/appsettings.Development.json
/.vs/FirmyMichalowice/v16/.suo
/FirmyMichalowiceSPA/.angular/cache/angular-webpack/345d300d7901200694ae5b4e210a909fe66395b1/0.pack
/FirmyMichalowiceSPA/.angular/cache/angular-webpack/
/FirmyMichalowiceSPA/.angular/cache/babel-webpack/
/FirmyMichalowiceSPA/.angular/cache/13.1.3/
/.vs/FirmyMichalowice/v16/.suo
/FirmyMichalowice/bin/Debug/netcoreapp3.1/FirmyMichalowice.deps.json
/.vs/FirmyMichalowice/DesignTimeBuild/.dtbcache.v2
/.vs/FirmyMichalowice/v16/.suo
/FirmyMichalowice/Properties/PublishProfiles/firmymichalowiceapi.berg-dev.eu - Web Deploy.pubxml
/.vs/FirmyMichalowice/v16/.suo
