.company-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-detail-button {
  border: 1px solid;
}

.card-detail-button:hover {
  background-color: lightslategrey;
}

@media only screen and (max-width: 600px) {
  .card-detail-button {
    margin-left: auto;
    margin-right: auto;
  }
}
