<h1 mat-dialog-title>Edycja </h1>
<div mat-dialog-content>
  <p>Nazwa</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-content>
    <p>Cena</p>
    <mat-form-field>
      <input matInput  [(ngModel)]="data.price">
    </mat-form-field>
  </div>
<div mat-dialog-actions>
  <button mat-raised-button class="save-button" (click)="closeEditDialog()">Anuluj</button>
  <button mat-raised-button class="save-button" (click)=" editOffer()" cdkFocusInitial>Zapisz</button>
</div>
