<div class="container text-center">
  <div>
    <h2>Zarejstruj się</h2>
  </div>
  <hr>
</div>
<div for="rodoCheckBox" class="container d-flex justify-content-center">
  <div *ngIf="!rodoCheck.checked && registerForm.dirty" class="alert alert-info col-md-8">
    <strong>Informacja: </strong>W celu rejestracji zaakceptuj warunki RODO, Politykę prywatności i Regulamin!
  </div>
</div>
<div class="container text-center d-flex justify-content-center mt-4">

  <form #registerForm="ngForm" class="col-md-4" (ngSubmit)="register()">
    <div class="mb-3">
      <mat-form-field class="example-full-width companyName" appearance="legacy">

        <mat-label>Email address</mat-label>
        <input #login matInput type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          name="username" [(ngModel)]="model.username" required>
       </mat-form-field>

    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width companyName" appearance="legacy">

        <mat-label>Password</mat-label>
      
      <input matInput type="password" class="form-control input-field" id="exampleInputPassword1" #password name="password"
        [(ngModel)]="model.password" required>

      </mat-form-field>
    </div>
    <div class="mb-3 form-check">
      <input #rodoCheck type="checkbox" class="form-check-input" id="rodoCheckBox" (change)="0">
      <label class="form-check-label" for="exampleCheck1">Akceptuje warunki <a href="">RODO</a>,
        <a href="">Reguliamn i </a> <a href="">Zasady prywatności</a> </label>
    </div>
    <button mat-raised-button [disabled]="!rodoCheck.checked" type="submit" class="register-button mr-2">Zarejstruj</button>
    <button mat-raised-button type="button" class="cancel-button" (click)="cancel()" (click)="password.value=''" (click)="login.value=''"
      (click)="rodoCheck.value=false">Anuluj</button>
  </form>
</div>