<header>
  <div class="hero-shadow"></div>
  <div
    class="baner d-flex flex-column justify-content-center jutify-content-md-center align-items-center"
  >
    <div class="div-img-banner">
      <img class="baner-img" src="../../assets/baner.jpg" alt="" />
    </div>
    <div class="div-slogan text-center">
      <p class="display-2 slogan text-light">Popraw swoje wyniki</p>
      <p class="second-slogan text-light">
        Zarejestruj się i zdobywaj nowych klientów z nami !!!
      </p>

      <!-- <p class="second-slogan custom_slogan text-light">
        Jeśli jesteś przedsiębiorcą zarejestrowanym w <b>CEIDG</b> a siedziba
        Twojej firmy znajduję się na terenie jednej z podkrakowskich gmin:
        <span *ngFor="let item of municipalities">
          <b> {{ item }},</b>
        </span>
        ta aplikacja jest dla Ciebie.
      </p> -->
    </div>
  </div>
</header>
<div class="aboutus-shadow">
  <div class="container pt-4">
    <div class="row">
      <div class="text-center col-12">
        <h2>Firmy Północy Krakowa</h2>
        <hr />
      </div>

      <div class="col-12">
        <accordion>
          <accordion-group
            class="text-dark text-right accordion-text"
            heading="Wyszukiwarka"
          >
            <form
              name="filterForm"
              #ngForm="ngForm"
              (ngSubmit)="loadCompanies()"
              class=""
            >
              <div class="text-center">
                <h2>Wyszukaj:</h2>
              </div>
              <div class="row d-flex align-items-end">
                <div class="col-md-3 d-flex justify-content-end searcher">
                  <mat-form-field
                    class="example-full-width companyName"
                    appearance="fill"
                  >
                    <mat-label>Nazwa firmy</mat-label>

                    <input
                      matInput
                      name="companyName"
                      id="companyName"
                      [(ngModel)]="companyParams.CompanyName"
                      style="width: 600px"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-3 d-flex justify-content-end searcher">
                  <mat-form-field
                    class="example-full-width companyName"
                    appearance="fill"
                  >
                    <mat-label>Kategoria</mat-label>

                    <input
                      matInput
                      name="companyType"
                      id="companyType"
                      [(ngModel)]="companyParams.CompanyType"
                      style="width: 600px"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-3 d-flex justify-content-end searcher">
                  <mat-form-field
                    class="example-full-width companyName"
                    appearance="fill"
                  >
                    <mat-label>Miejscowość</mat-label>

                    <input
                      matInput
                      name="city"
                      id="city"
                      [(ngModel)]="companyParams.City"
                      style="width: 600px"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-3 d-flex justify-content-end searcher">
                  <mat-form-field
                    class="example-full-width companyName"
                    appearance="fill"
                  >
                    <mat-label>Gmina</mat-label>
                    <mat-select
                      [(ngModel)]="companyParams.Municipalitie"
                      id="municipalitie"
                      name="municipalitie"
                    >
                      <mat-option (click)="unselect()">
                        Wszystkie gminy
                      </mat-option>
                      <mat-option
                        *ngFor="let municipalitie of municipalities"
                        [value]="municipalitie"
                      >
                        {{ municipalitie }}
                      </mat-option>
                    </mat-select>
                    <!-- <input
                      matInput
                      name="municipalitie"
                      id="municipalitie"
                      [(ngModel)]="companyParams.municipalitie"
                      style="width: 600px"
                    /> -->
                  </mat-form-field>
                </div>
                <div
                  form="editForm"
                  class="search-button mr-3 d-flex justify-content-center"
                >
                  <button
                    mat-raised-button
                    (click)="clearFiltrFileds()"
                    type="button"
                    class="card-detail-button danger"
                  >
                    Usuń filtry
                  </button>
                  <button
                    mat-raised-button
                    class="card-detail-button confirm ml-1"
                    typ="submit"
                  >
                    Wyszukaj
                  </button>
                </div>
              </div>
            </form>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-12">
        <div class="row">
          <div
            *ngFor="let company of companies"
            class="company-card-list col-md-12"
          >
            <app-CompanyCard [company]="company"></app-CompanyCard>
          </div>
        </div>
      </div>
    </div>

    <pagination
      class="justify-content-center py-3 text-dark my-pagination"
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
