.descriptionTextArea{
    width: 100vw;
}
.description{
    width: 100vw;
}

ul li {
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}
.form-control{
    padding:0;
    margin: 0;
}

.change-photo-btn{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.companyName{
    width: 400px;
}

mat-form-field{
    width: 100%;
}
.company-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
 }

 .save-button:hover{
    background-color: lightslategrey;
}
.selectList{
    padding-bottom: 0;
}
@media screen and (max-width: 600px) {
    .contact-data {
      margin-top: 20px;
    }
  }