@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-item.active .page-link {
  color: #fff !important;
  background: grey !important;
  border-color: darkgrey !important;
}

.mat-basic {
  border: 1px solid;
}

a {
  cursor: pointer;
}



.save-button:hover {
  background-color: lightslategrey;
  cursor: pointer;
}
