<div class="container">
  <h1>Polityka prywatności i Cookies</h1>
  <div>

    <h2> I. Informacje ogólne</h2>

    <ol>
      <li>
        Polityka prywatności i cookies dotyczy przetwarzania danych osobowych przez Sprzedawcę- Maciej Sikora Mongraw z
        siedzibą w Michałowicach przy ul. Brzozowej 6b, kod 32-091, NIP 676-226-36-81, REGON 362156210, i stosowania
        cookies w ramach sklepu internetowego mongraw.malopolska.pl
      </li>
      <li>
        Aplikacja internetowa realizuje funkcje pozyskiwania informacji o Klientach i ich zachowaniu w następujący sposób:
        <ul>
          <li>
            poprzez dobrowolnie wprowadzone w formularzach informacje.
          </li>
          <li>
            poprzez zapisywanie w urządzeniach końcowych pliki cookies (tzw. "ciasteczka”).
          </li>
          <li>
            poprzez gromadzenie logów serwera www przez operatora hostingowego Sklepu internetowego (konieczne do poprawnego
            działania serwisu).
          </li>
        </ul>
      </li>
    </ol>

 
    <h2> II. Informacje w formularzach</h2>
<ol>
  <li>
    Mongraw Maciej Sikora zbiera informacje podane dobrowolnie przez Klienta.</li>
    <li>
    Mongraw Maciej Sikora może zapisać automatycznie informacje o parametrach połączenia (oznaczenie czasu, adres IP).
  </li>
    <li>
    Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą Klienta, chyba że poniżej określono
    inaczej (wynika z przepisów prawa).
  </li>
    <li>
     Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np. w celu
    dokonania procesu obsługi Rejestracji (założenia konta) lub Zamówienia (płatność, wysyłka, reklamacja).
  </li>
  </ol>
    <h2>III. Informacja o plikach cookies</h2>
<ol>
  <li>
    Aplikacja internetowa korzysta z plików cookies.
  </li>
  <li>

    Pliki cookies (tzw. ciasteczka) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są
    w urządzeniu końcowym Klienta i przeznaczone są do korzystania ze strony Sklepu internetowego. Cookies zazwyczaj
    zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny
    numer.
  </li>
  <li>
    Podmiotem zamieszczającym na urządzeniu końcowym Klienta pliki cookies oraz uzyskującym do nich dostęp jest
    operator Aplikacja internetowa- firma Mongraw Maciej Sikora.

  </li>
  <li>

    Pliki cookies wykorzystywane są w następujących celach:

    tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Klienci Aplikacji internetowej korzystają ze stron
    internetowych, co umożliwia ulepszanie ich struktury i zawartości;

    utrzymania sesji Klienta (po zalogowaniu), dzięki której Klient nie musi na każdej podstronie Aplikacji internetowej
    ponownie wpisywać loginu i hasła;

    określania profilu Klienta w celu wyświetlania mu dopasowanych materiałów w sieciach reklamowych, w szczególności
    sieci Google.
  </li>
  <li>
    W ramach Aplikacji internetowej stosowane są dwa zasadnicze rodzaje plików cookies:

    „sesyjne" (session cookies) oraz „stałe" (persistent cookies). Cookies „sesyjne" są plikami tymczasowymi, które
    przechowywane są w urządzeniu końcowym Klienta do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia
    oprogramowania (przeglądarki internetowej). „Stałe" pliki cookies przechowywane są w urządzeniu końcowym Klienta
    przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Klienta.
  </li>
  <li>
    Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza
    przechowywanie plików cookies w urządzeniu końcowym Klienta. Klienci mogą dokonać zmiany ustawień w tym zakresie.
    Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików
    cookies. Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.

  </li>
  <li>
    Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach
    internetowych Aplikacji internetowej.

  </li>
  <li>
    Pliki cookies zamieszczane w urządzeniu końcowym Klienta wykorzystywane mogą być również przez współpracujących
    ze Aplikacji internetowej reklamodawców oraz partnerów.

  </li>
  <li>
    Pliki cookies mogą być wykorzystane przez sieci reklamowe, w szczególności sieć Google, do wyświetlenia reklam
    dopasowanych do sposobu, w jaki Klient korzysta ze Aplikacji internetowej. W tym celu mogą zachować informację o
    ścieżce nawigacji Klienta lub czasie pozostawania na danej stronie.

  </li>
  <li>
    Klient może nie wyrazić zgody na przetwarzanie plików cookies nie akceptując zgody na ich przetwarzanie
    wyświetlającej się na stronie (może to spowodować niepoprawne działanie serwisu).
  </li>
  <li>   
     W zakresie informacji o preferencjach Klienta gromadzonych przez sieć reklamową Google Klient może przeglądać i
    edytować informacje wynikające z plików cookies przy pomocy narzędzia: https://www.google.com/ads/preferences/.
   </li>

 </ol>
    <h2>IV. Logi serwera</h2>
<ol>
  <li>
    Informacje o niektórych zachowaniach Klientów podlegają logowaniu w warstwie serwerowej. Dane te są wykorzystywane
    wyłącznie w celu administrowania Aplikacją internetową oraz w celu zapewnienia jak najbardziej sprawnej obsługi
    świadczonych usług hostingowych.
  </li>
  <li>
    Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:
<ul>
  <li>
    czas nadejścia zlecenia lub zapytania,
  </li>
  <li>
    czas wysłania odpowiedzi,
  </li>
  <li>
    nazwę stacji klienta- identyfikacja realizowana przez protokół HTTP,
  </li>
  <li>
    informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,
  </li>
  <li>
    adres URL strony poprzednio odwiedzanej przez Klienta (referer link)- w przypadku gdy przejście do stron Sklepu
    internetowego nastąpiło przez odnośnik,
  </li>
  <li>
    informacje o przeglądarce Klienta,
  </li>
  <li>
    informacje o adresie IP.
  </li>
  </ul>
  </li>
<li>
    Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony- w rozumieniu przepisów prawa są
    anonimowe.
  </li>
  <li> 
  Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.
</li>
  </ol>
    <h2>V. Udostępnienie danych</h2>
<ol>
  <li>
    Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.
  </li>
  <li>
    Sprzedawca może mieć obowiązek udzielania informacji zebranych przez Sklep internetowy upoważnionym organom na
    podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.
  </li>
   <li>
  Sprzedawca może udostępnić dane osobowe Klientów podmiotowi przejmującemu prawa i obowiązki Sprzedawcy w ramach
    Sklepu internetowego. W takim przypadku Klienci zostaną poinformowani o nowym administratorze ich danych osobowych
    zgodnie z obowiązującymi przepisami.
  </li>
  <li>
    Odbiorcami danych mogą być podmioty zajmujące się obsługą informatyczną administratora danych.
  </li>
  </ol>
    <h2>VII. Zabezpieczenie danych osobowych</h2>
<ol>
  <li>
    Sklep internetowy mongraw.malopolska.pl dba o bezpieczeństwo danych osobowych Klientów, dlatego wszędzie tam, gdzie
    wymagane jest podawanie danych osobowych, połączenie między Klientem a serwerem jest szyfrowane. Dzięki temu Klienci
    nie muszą się martwić, że dane przesyłane z lub do serwera zostaną przez kogoś podejrzane, przechwycone i
    wykorzystane.
  </li>
  <li>
    Administratorem danych osobowych jest Mongraw Maciej Sikora ul. Brzozowa 6b 32-091 Michałowice NIP 6762263681, tel.
    795 460 650 , e-mail sklep@mongraw.pl
  </li>
  <li>
    Dane osobowe zostały przekazane świadomie i dobrowolnie oraz będą przetwarzane wyłącznie w celach opisanych w
    paragrafach II pkt 4, III pkt 4 oraz w IV pkt 4 niniejszego dokumentu.
  </li>
  <li>
    Bez wyraźnej zgody dane osobowe nie będą udostępniane innym odbiorcom danych, poza podwykonawcami naszych usług
    informatycznych w celach utrzymania systemu.
  </li>
  </ol>
    <h2>VII. Zmiana, poprawianie, usuwanie, przetwarzanie danych osobowych.</h2>

    Zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 roku, w sprawie
    ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych
    oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) Mongraw Maciej Sikora zapewnia Klientom
    swobodny dostęp do danych osobowych, ich zmianę, zapomnienie, poprawianie oraz usuwanie.

    Dostęp, zmiana, poprawianie danych osobowych może być dokonywane w dowolnym czasie poprzez Konto Klienta po
    uprzedniej rejestracji i zalogowaniu bądź kontakcie z Działem Obsługi klienta.

    3. Wszelkie informacje odnośnie dostępu, zmiany, poprawiania oraz usuwania swoich danych osobowych, uzyskają Państwo
    kontaktując się z naszym Działem Obsługi Klienta tel. 795 460 650, bądź poprzez e-mail- sklep@mongraw.pl

    4. Klient ma prawo do wniesienia skargi do organu nadzorczego.

    5. Opis jak wycofać zgodę na przetwarzanie plików cookies znajduje się w paragrafie VII niniejszego dokumentu.

    6. Zgody na przetwarzanie danych osobowych zawsze mają podany czas przez jaki obowiązują, w przypadku braku
    określenia owego terminu obowiązują do czasu ewentualnego odwołania zgody, a po takim odwołaniu, przez okres
    przedawnienia roszczeń przysługujących administratorowi danych i w stosunku do niego, chyba że przetwarzanie odbywa
    się na podstawie innych przepisów prawa niż wyrażona zgoda (np. Umowa kupna/sprzedaży).

    <h2>VIII. Zarządzanie plikami cookies - jak w praktyce wyrażać i cofać zgodę?</h2>

    Jeśli Klient nie chce korzystać z plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie
    obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa, utrzymania preferencji Klienta
    może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie ze sklepu internetowego.

    W celu zarządzania ustawieniami cookies wybierz z listy poniżej przeglądarkę internetową/system i postępuj zgodnie z
    instrukcjami:

    a. Internet Explorer

    b. Chrome

    c. Safari

    d. Firefox

    e. Opera

    f. Safari (iOS)

    g. Windows Phone
  </div>
</div>