ul li {
  list-style: none;
}
.address {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.contact {
  border-left: 1px solid lightgray;
}

ul {
  margin: 0;
  padding: 0;
}

.btn-back-to-home {
  border: 1px solid;
}

.card-detail-button {
  border: 1px solid;
}

.btn-back-to-home:hover {
  background-color: lightslategrey;
}

.my_arms {
  display: none;
}

.my_arms2 {
  height: 239px;
  width: 211px;
}

.center {
  margin: auto;
  width: 50%;
}

.mat-table {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .geolocation {
    width: 300px;
  }

  button {
    margin-left: auto;
    margin-right: auto;
  }

  .my_arms {
    width: 25px;
    height: 35px;
    margin-top: -5px;
    display: inline;
  }
  .my_arms2 {
    display: none;
  }
  .inner {
    width: 50%;
    margin: 0 auto;
  }
}
