ul li {
    list-style: none;
}
.address{
    border-left: 1px solid  lightgray;
    border-right: 1px solid  lightgray;
}
.contact{
    border-left: 1px solid  lightgray;
}

ul{
    margin: 0;
    padding: 0;
}

.btn-back-to-home{
    border: 1px solid;
}

.btn-back-to-home:hover{
    background-color: lightslategrey;
}

@media only screen and (max-width: 600px) {
    img {
    width: 300px;

    }
  }