<div class="row">
    <div class="col-12 card company-card text-center">
        <h2 class="text-second mt-3" mat-dialog-title>Wybierz opcje dodatkowe !!!</h2>
        <hr>  
        <div class="row d-flex justify-content-start">
            <div  class="col-8 text-center">
                <p><img src="../../assets/ikony/link-45deg.svg" alt="aktywny link"> Dodaj aktywny link 
                    i pozwól na przekierowanie na Twoją stronę
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-2">
            <div  class="col-8 text-center">
                <p><img src="../../assets/ikony/card-list.svg" alt="aktywny link"> Wypisz swoją ofertę, pokaż czym się zajmujesz i jakie masz ceny
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-end my-2">
            <div  class="col-8 text-center">
               <p> <img src="../../assets/ikony/info-square.svg" alt="aktywny link"> Pokaż klientom swoje PKiD
                </p>
            </div>
        </div>

    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-raised-button class="save-button" >Sprawdź ceny</button>
    <button mat-raised-button (click)="closeDialog()" class="save-button" cdkFocusInitial>Zamknij</button>
  </div>
  