.register-button {
  background: linear-gradient(45deg, lightgreen, darkgreen, lightgreen);
}

.cancel-button {
  background: linear-gradient(45deg, pink, red, pink);
}
button:hover {
  background-color: grey;
}

input {
  width: 100%;
}
.danger {
  margin-left: 15px;
}
