<div class="center">
  <div class="container shadow-lg p-3 mb-5 bg-white rounded mt-5">
    <div class="container text-center">
      <div>
        <h2><b>Zaloguj się</b></h2>
      </div>
      <hr />
    </div>
    <div class="container text-center d-flex justify-content-center mt-4">
      <form
        #loginForm="ngForm"
        class="form-inline col-md-6 text-center d-flex justify-content-center"
        (ngSubmit)="login(loginForm)"
      >
        <div class="row">
          <div class="mb-3 col-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                id="email"
                [formControl]="loginFormControl"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                [(ngModel)]="model.username"
                name="username"
                size="40"
                required
              />
              <mat-hint>Wpisz adres email</mat-hint>
              <mat-error *ngIf="loginFormControl.hasError('required')">
                Wprowadź <strong>e-mail</strong>
              </mat-error>
              <mat-error *ngIf="loginFormControl.hasError('email')">
                E-mail powinien zawierać <strong>@</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4 col-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Hasło</mat-label>
              <input
                matInput
                [formControl]="passwordFormControl"
                type="password"
                id="password"
                [(ngModel)]="model.password"
                name="password"
                size="40"
                required
              />
              <mat-hint>Wpisz hasło</mat-hint>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Wprowadź <strong>hasło</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mb-4 col-12">
            <button type="submit" class="btn mat-basic confirm">Zaloguj</button>
            <button type="button" [routerLink]="['/resetHasla/']" class="btn mat-basic danger">Resetuj hasło</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
