table {
    
    width: 100%;
   
  }

td{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: wrap;
    max-width: 10%;

}