.dropdown-toggle {
  cursor: pointer !important;
}
.dropdown-item {
  cursor: pointer !important;
}

.navbar {
  box-shadow: inset 0px -5px 10px -5px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  cursor: pointer !important;
}

@media only screen and (max-width: 600px) {
  .arms {
    display: none;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 14px;
    font-size: 14px !important;
  }
}
