<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/FPK_Logo.png"
        width="130"
        height="80"
        class="align-top"
        alt="FPK_Logo"
      />
    </a>
    <div *ngIf="showArms" class="d-flex justify-content-center bd-highlight">
      <div *ngFor="let item of armsUrls">
        <img
          [src]="item"
          height="45"
          width="39"
          class="arms bd-highlight mx-3"
        />
      </div>
    </div>
    <div class="navbar-toggler2">
      <button
        *ngIf="!loginCheck()"
        class="navbar-toggler border-0 navbar-toggler-icon"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <button
        *ngIf="loginCheck()"
        class="navbar-toggler border-0 navbar-toggler-icon"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
    </div>

    <div
      *ngIf="!loginCheck()"
      class="collapse navbar-collapse text-center"
      id="navbarNavAltMarkup"
    >
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/logowanie/']"
            >Zaloguj</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rejestracja/']">Zarejstruj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/kontakt/']">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/onas/']">O Nas</a>
        </li>
      </ul>
    </div>
    <div
      *ngIf="loginCheck()"
      class="collapse navbar-collapse text-center"
      id="navbarNavAltMarkup"
    >
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Witaj {{ getUserName() }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/edycja/', getUserId()]"
          >
            <!--<i class="fa fa-user pr-2"></i> -->
            Edytuj profil</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">
            <!-- <i class="fa fa-sign-out pr-2"></i> -->
            Wyloguj</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/kontakt/']">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/onas/']">O Nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/']">Admin</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" [routerLink]="['/onas/']">Admin</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
