.dropdown-toggle {
  cursor: pointer !important;
}
.dropdown-item {
  cursor: pointer !important;
}

.navbar {
  box-shadow: inset 0px -5px 10px -5px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  cursor: pointer !important;
}
