<div class="container text-center">
  <form>
  
      <div>
        <mat-form-field class="example-full-width companyName " appearance="legacy">
          <mat-label>Nowe hasło</mat-label>


          <input matInput 
          class="form-control " 
          name="companyName" 
          id="newPassword"  
          type="password" 
          style="width:600px;"
          [errorStateMatcher]="matcher"
          >
        </mat-form-field>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Minimalna długość hasła to 6 znaków
        </mat-error>
      </div>
      <div>
        <mat-form-field class="example-full-width companyName " appearance="legacy">
          <mat-label>Powtórz hasło</mat-label>


          <input matInput class="form-control " name="companyName" id="confirmPassword"  type="password"
            style="width:600px;">
        </mat-form-field>
      </div>
      <button mat-raised-button class="mt-4 save-button">Zmień hasło</button>
  
  </form>
</div>