<div class="container">
    <h1>Regulamin Firm Północy Krakowa</h1>
    <div>
      <h2>I. Informacje ogólne</h2>
  
      <ol>
        <li>
            Wydawcą oraz właścicielem aplikacji Firmy Północy Krakowa jest Maciej Sikora Mongraw z siedzibąw Michałowicach przy ul. Brzozowej 6b, kod 32-091, NIP 676-226-36-81, REGON 362156210,.
            
        </li>
        <li>
           Serwis ma charakter darmowy i ogólnodostępny. Właściciel nie pobiera opłat za dodanie, przeglądanie oraz edycję danych, z wyjątkiem opcji dodatkowych (płatnych).
           
        </li>
        <li>
            Administracja nie jest w stanie kontrolować wiarygodności osób korzystających z serwisu w związku z tym nie ponosi odpowiedzialności za treść zamieszczanych opisów oraz treści komunikatów przesyłanych przez użytkowników z formularzy kontaktowych. Jednakże dokłada wszelkich starań, aby treści publikowane na łamach Firmy Północy Krakowa nie łamały obowiązującego prawa.
        </li>
      </ol>
 
      <h2>II. Dodawanie firmy</h2>
      <ol>
        <li>
            Wpis widoczny jest natychmiastowo po wypełnieniu formularza rejestracji.
        </li>
        <li>
            Informacje o firmie będą wyświetlane bezterminowo.
        </li>
        <li>
            Każda firma ma prawo do jednego wpisu. W przypadku wprowadzenia więcej niż jednego wpisu, firma zostanie usunięta z bazy.
    
        </li>
        <li>
            Informacje o firmach mogą być wprowadzane wyłącznie przez ich właścicieli lub osoby upoważnione do reprezentacji danej firmy.
    
        </li>
        <li>
            Swoje dane rejestrować mogą wyłącznie podmioty gospodarcze zarejestrowane na terenie Rzeczypospolitej.
    
        </li>
      </ol>

       

      <h2>III. Usuwanie oraz edycja danych
    </h2>
      <ol>
        <li>Edycję danych firmy dokonuje się poprzez wbudowanym moduł w Panelu Edycji po wcześniejszym zalogowaniu.
        </li>
        <li>
            Każda firma na prawo do usunięcia swoich danych z bazy firm. Dane można usunąć kontaktując się z Biurem Obsługi Klienta.
        </li>
       
      </ol>

     
     
   

      <h2>IV. Usługi dodatkowe</h2>
      <ol>
        <li>
            Usługi oferowane są wszystkim Użytkownikom posiadającym zarejestrowane i aktywne konto firmowe w serwisie.
        </li>
        <li>
            Usługi dodatkowe można zamówić przez formularz kontaktowy. 
            Po zgłoszeniu prześlemy informacje w jakim terminie reklama zostanie zamieszczona na stronie.
        </li>
        <li>
            Usługi są od siebie niezależne tzn. użytkownik może wykupić kilka usług jednocześnie.
        </li>
        <li>
            Zapłata dokonywana jest przelewem na konto .... i zostaje aktywowana w najbliższym możliwym terminie zależnym od ilości zgłoszeń.
        </li>
        <li>
            Kosz usług określony jest następująco:
            <ul>
            
           <li> Usługa "Baner główny"– 100 zł / 7 dni. Na banerze głównym mogą pojawiać się reklamy maksymalnie 3 firm / tydzień.
               Decyduje kolejność zgłoszenia. Reklamy firm, które nie wejdą </li>
            <li>
                Usługa Strefa VIP – 50 zł / 7 dni. W strefie VIP mogą być wpisane maksymalnie 3 firmy tygodniowo. 
               Decyduje kolejność zgłoszenia.  Reklamy firm, które nie wejdą w skład danego tygodnia będą wyświetlane w tygodniu następnym. 
            </li>
            </ul>
        </li>
        <li>
            Faktury VAT za wykupione usługi wystawiane są w formie elektronicznej (plik PDF przesyłany na adres e-mail) na wyłączną prośbę użytkownika.
    
        </li>
        <li>
            Usługi wygasają po okresie 7 dni od momentu aktywacji.
      
        </li>
        <li>
            Opłata za usługę nie podlega zwrotu w przypadku usunięcia wpisu z powodu naruszenia zasad określonych w niniejszym regulaminie.
     
        </li>
        <li>
            Wszelkie reklamacje należy zwracać do Biura Obsługi Klienta.
        </li>
      </ol>

       
 
     
   
     
      <h2>V. Postanowienia końcowe</h2>
      <ol>
        <li>
            Użytkownik uznaje, że całość praw autorskich, wszystkie znaki towarowe, konta użytkowników, rozwiązania techniczne oraz pozostałe prawa własności intelektualnej związane z usługami należą do serwisu.
      
        </li>
        <li>
            Serwis zastrzega sobie prawo do zaprzestania świadczenia lub uruchomienia nowych usług i wykorzystania w nich danych osobowych użytkowników.
      
        </li>
        <li>
            Jakiekolwiek próby włamania do serwisu, złamania haseł lub kodów oraz korzystanie z nich w sposób niezgodny z regulaminem, skutkują konsekwencjami prawnymi.
     
        </li>
        <li>
            Akceptacja niniejszego regulaminu przez użytkownika jest równoznaczna z oświadczeniem:
            <ul>
                <li>
                    "Wyrażam zgodę na przetwarzanie i wykorzystywanie moich danych osobowych, wprowadzonych do formularzy dostępnych na stronach serwisu, w celach marketingowych"
                </li>
                <li>
                    "Wyrażam zgodę na otrzymywanie informacji handlowych z Internetowego Katalogu Firm w rozumieniu ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną".
     
                </li>
            </ul>
        </li>
        <li>
           Serwis zastrzega sobie prawo do zmiany regulaminu bez wcześniejszego informowania o tym użytkowników - aktualna wersja regulaminu będzie każdorazowo dostępna na stronach internetowych serwisu pod adresem: www.bazafirm.org/regulamin.html.
    
        </li>
        <li>
            Regulamin niniejszy obowiązuje od momentu jego opublikowania na stronach internetowych serwisu.
      
        </li>
      </ol>
      
    <button mat-raised-button color="basic" (click)="backClicked()">Wróć</button>
  </div>
  
    
    
    

  
     
    
    
     
    
   
     
    
  
     
    
  
    
  
    
     
    
   
   </div>
